@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-color: rgb(52, 133, 228);
    --dark-grey: #666666;
    --off-white: #f5f5f5
}

body{

    background-color: var(--off-white);
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
    margin: auto;
    
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grey);
}
h2{
    font-family: 'Montserrat', sans-serif;
}
#logo{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    color: white;
}
.list-non-bullet{
    list-style: none;
    max-width: auto;
    display: block;
}
.list-item-inline{
    text-decoration: none;
    display: inline-block;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-bottom-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.navigation .link{
    color: white;
}
.navigation .active-link{
    font-weight: bold;

}



hr{
    margin: 2rem 0rem;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}
.secondary-link{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}
h2{
    text-align: center;
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}


.footer .link{
    color: white;
}

#tech{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
}


ul {
    display: flex;
    align-items: center;
    justify-content: center;
}